@charset "ISO-8859-1";

body{
	
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #0A0A0A;
	
}

.register-container {
	width: 33%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 20px;
}

.register-container>h1 {
	font-weight: 500;
	margin-bottom: 20px;
	color: #EBEBEB;
}

.register-container>form>h4 {
	margin-bottom: 5px;
	color: #EBEBEB;
}

.in {
	height: 30px;
	margin-bottom: 10px;
	background-color: white;
	width: 98%;
}

.register-container>form>p {
	margin-top: 15px;
	font-size: 12px;
	color: #EBEBEB;
	text-align: center;
}

label{
	
	color: #EBEBEB;
	
}

.register-btn {
	background: #892CDC;
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #52057b;
	color: #D6D6D6;
}

.login-btn {
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	background: #892CDC;
	border-color: #52057b;
	color: #D6D6D6;
}

.container {
	height: 100vh; display : flex;
	justify-content: center;
	align-items: center;
	display: flex;
}

#register {
	text-align: center;
}

.login-btn:hover{
	
	cursor:pointer;
	
}

.register-btn:hover{
	
	cursor:pointer;
	
}